In [1]:
import boto3
from io import BytesIO
import pandas as pd
import csv

import matplotlib.pyplot as plt
import seaborn as sns

import xml.etree.ElementTree as ET
import psycopg2

#required for navigating machine's directory
import glob
import os.path

import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, StratifiedKFold, cross_validate
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, f1_score, roc_auc_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

import warnings
from sklearn.exceptions import ConvergenceWarning

from scrapy import Selector
import requests

import re
from typing import List

## Get data from S3

In [ ]:
s3 = boto3.client('s3',
                  aws_access_key_id='ASIAYAAO5HRMCTGD2S34',
                  aws_secret_access_key='ztnA1G3cMmvgV3r/jhsgTqLbZi0CFfZ/YqPbWLp1',
                  aws_session_token='IQoJb3JpZ2luX2VjEIT//////////wEaCXVzLWVhc3QtMiJGMEQCIHgTkuFM5YmWKEE5gCfg638b6kdEJ3CS0UwB9i5p3hW5AiAMvGXT0tlLw6s7QThV6iXvH1eEFHjLUMOUrIzvtFoJJyr0Agjd//////////8BEAAaDDU0OTc4NzA5MDAwOCIM2TeVXefESlmSulntKsgC9XXRNdKaJcmZ2scit7L7xT3SvT9mEiMzvSg85cowwl4WKtSUfBIMfV7iLU9VThzFALnVubXCJoXUOLa0ZCAjJ7COZmoeEjUEZC7zIXKkdslzGt2W5hPoZmt9ytGwtvKGCyNmjESrAPOcEoe6ilIfGRXHRt224FdLTBMImJKn6IPRivVASJ4zerNbhTM9O5YcDfJD9h0YUhrtpbVoDmEi4u9J1z2a72VgmbTpIeysNiVWg5rJnQDgiWU4dq8amFiCMpbYZ1lQG1okSL10P/fodJ0FWMp1Olz0A7IN7vMMQf7FVwSRiqmQ73kcyjDCGawJtDjKj/IA023o537wXgf0v//e2suw8BBCpYPdYfnpN+5co6eyGnMBjPSGuQCv6frh+pN2Bdq6Cnxr2DslmdBApx7pFzO5kVu6/kj6K1+9hS4KlCsStIIpIjCAi+qxBjqoAU/uf849jivIbZB6i9R9QmAMOV5XHSjJYoRCmD5VA3+1OlPZIZVFyxZ4nvvW2344Sbh3lTB38fiUkgIb9SJJ+kguWZGMP3j9KHjY4wAZiEjWf8KTJPXgIkE15xbWNZftBkHnxeozaOisrRrsJd1+oAqKTBrvS533dGJVmK3doK3z8zrdpEGrQdTcdQhPm+UG2SfjaxmTwXXvrxi/mGNnYSvhdaR0mipNrw==')


bucket_name = 'de300spring2024'
object_key = 'emily_kohlberg/hw/heart_disease.csv'

In [ ]:
csv_obj = s3.get_object(Bucket=bucket_name, Key=object_key)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')

In [ ]:
raw_data = pd.read_csv(BytesIO(csv_string.encode()))
raw_data

## Get data from rawdata

In [2]:
conn_string  = "postgresql://myuser:mypassword@postgres-container/mydatabase"
rawdata_path = "../rawdata/"
staging_data_dir = '../staging_data'

In [3]:
def extract_from_csv(file_to_process: str) -> pd.DataFrame:
    with open(file_to_process, 'r') as file:
        reader = csv.reader(file)
        header = next(reader)

    data = pd.read_csv(file_to_process)
    data = data.dropna(axis=1, how='all')
    extracted_data = pd.DataFrame(columns = header)
    extracted_data = pd.concat([extracted_data, data], ignore_index=True)
    return extracted_data

In [4]:
raw_data = extract_from_csv("../rawdata/heart_disease.csv")
raw_data

/tmp/ipykernel_37/3615485252.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  extracted_data = pd.concat([extracted_data, data], ignore_index=True)

,age,sex,painloc,painexer,relrest,pncaden,cp,trestbps,htn,chol,...,exeref,exerwm,thal,thalsev,thalpul,earlobe,cmo,cday,cyr,target
0,63,1.0,NaN,NaN,NaN,NaN,1.0,145.0,1.0,233.0,...,NaN,NaN,6.0,NaN,NaN,NaN,2.0,16.0,81.0,0.0
1,67,1.0,NaN,NaN,NaN,NaN,4.0,160.0,1.0,286.0,...,NaN,NaN,3.0,NaN,NaN,NaN,2.0,5.0,81.0,1.0
2,67,1.0,NaN,NaN,NaN,NaN,4.0,120.0,1.0,229.0,...,NaN,NaN,7.0,NaN,NaN,NaN,2.0,20.0,81.0,1.0
3,37,1.0,NaN,NaN,NaN,NaN,3.0,130.0,0.0,250.0,...,NaN,NaN,3.0,NaN,NaN,NaN,2.0,4.0,81.0,0.0
4,41,0.0,NaN,NaN,NaN,NaN,2.0,130.0,1.0,204.0,...,NaN,NaN,3.0,NaN,NaN,NaN,2.0,18.0,81.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1056,1 888 -9 4016 8216 8216 788 0 -9 -9 -9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1057,-0 0 0 1 9 -9 130 80 0 130 80 0 11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1058,-9 3 1h9 1 -9 -9 -9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1059,-9 3 -9 -9 -9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060,-9 -9 -9 3 -9 -4 1 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Cleaning

In [5]:
columns_to_retain = ['age', 'sex', 'painloc', 'painexer', 'cp', 'trestbps', 'smoke', 
                     'fbs', 'prop', 'nitr', 'pro', 'diuretic', 'thaldur', 'thalach', 
                     'exang', 'oldpeak', 'slope', 'target']

data = raw_data[columns_to_retain]
data

,age,sex,painloc,painexer,cp,trestbps,smoke,fbs,prop,nitr,pro,diuretic,thaldur,thalach,exang,oldpeak,slope,target
0,63,1.0,NaN,NaN,1.0,145.0,NaN,1.0,0.0,0.0,0.0,0.0,10.5,150.0,0.0,2.3,3.0,0.0
1,67,1.0,NaN,NaN,4.0,160.0,NaN,0.0,1.0,0.0,0.0,0.0,9.5,108.0,1.0,1.5,2.0,1.0
2,67,1.0,NaN,NaN,4.0,120.0,NaN,0.0,1.0,0.0,0.0,0.0,8.5,129.0,1.0,2.6,2.0,1.0
3,37,1.0,NaN,NaN,3.0,130.0,NaN,0.0,1.0,0.0,0.0,0.0,13.0,187.0,0.0,3.5,3.0,0.0
4,41,0.0,NaN,NaN,2.0,130.0,NaN,0.0,0.0,0.0,0.0,0.0,7.0,172.0,0.0,1.4,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1056,1 888 -9 4016 8216 8216 788 0 -9 -9 -9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1057,-0 0 0 1 9 -9 130 80 0 130 80 0 11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1058,-9 3 1h9 1 -9 -9 -9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1059,-9 3 -9 -9 -9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060,-9 -9 -9 3 -9 -4 1 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Cleaning and imputing steps for columns other than `smoke:’
# a. painloc, painexer
# b. tresbps: Replace values less than 100 mm Hg
# c. oldpeak: Replace values less than 0 and those greater than 4
# d. thaldur, thalach: Replace the missing values
# e. fbs, prop, nitr, pro, diuretic: Replace the missing values and values greater than 1
# f. exang, slope: Replace the missing values

In [7]:
# prediction does not work when target is NaN
data = data.dropna(subset=['target'])

In [8]:
# Out of range
data.loc[data['painloc'] < 0, 'painloc'] = 0
data.loc[data['painloc'] > 1, 'painloc'] = 1

data.loc[data['painexer'] < 0, 'painexer'] = 0
data.loc[data['painexer'] > 1, 'painexer'] = 1

data.loc[data['trestbps'] < 100, 'trestbps'] = 100

data.loc[data['oldpeak'] < 0, 'oldpeak'] = 0
data.loc[data['oldpeak'] > 4, 'oldpeak'] = 4

data.loc[data['fbs'] < 0, 'fbs'] = 0
data.loc[data['fbs'] > 1, 'fbs'] = 1

data.loc[data['prop'] < 0, 'prop'] = 0
data.loc[data['prop'] > 1, 'prop'] = 1

data.loc[data['nitr'] < 0, 'nitr'] = 0
data.loc[data['nitr'] > 1, 'nitr'] = 1

data.loc[data['pro'] < 0, 'pro'] = 0
data.loc[data['pro'] > 1, 'pro'] = 1

data.loc[data['diuretic'] < 0, 'diuretic'] = 0
data.loc[data['diuretic'] > 1, 'diuretic'] = 1

data.loc[data['exang'] < 0, 'exang'] = 0
data.loc[data['exang'] > 1, 'exang'] = 1

data.loc[data['slope'] < 1, 'slope'] = np.nan
data.loc[data['slope'] > 3, 'slope'] = np.nan

In [9]:
columns_for_imputation = ['age', 'sex', 'painloc', 'painexer', 'cp', 'trestbps', 
                     'fbs', 'prop', 'nitr', 'pro', 'diuretic', 'thaldur', 'thalach', 
                     'exang', 'oldpeak', 'slope', 'target']

X = data[columns_for_imputation]

imputer = IterativeImputer(estimator=GradientBoostingRegressor(), random_state=0)
imputed_data = imputer.fit_transform(X)
imputed_df = pd.DataFrame(imputed_data, columns=columns_for_imputation)

# Display the imputed DataFrame
print(imputed_df)

      age  sex   painloc  painexer   cp  trestbps       fbs  prop  nitr  pro  \
0    63.0  1.0 -0.017571  0.027683  1.0     145.0  1.000000   0.0   0.0  0.0
1    67.0  1.0  0.991795  0.970059  4.0     160.0  0.000000   1.0   0.0  0.0
2    67.0  1.0  1.012333  0.983045  4.0     120.0  0.000000   1.0   0.0  0.0
3    37.0  1.0  0.767426  0.151340  3.0     130.0  0.000000   1.0   0.0  0.0
4    41.0  0.0  0.512635 -0.021997  2.0     130.0  0.000000   0.0   0.0  0.0
..    ...  ...       ...       ...  ...       ...       ...   ...   ...  ...
894  54.0  1.0  1.000000  1.000000  4.0     180.0  0.305790   0.0   0.0  0.0
895  56.0  1.0  1.000000  1.000000  4.0     125.0  1.000000   0.0   0.0  0.0
896  56.0  1.0  0.000000  1.000000  3.0     125.0  0.194504   0.0   0.0  0.0
897  54.0  1.0  1.000000  1.000000  4.0     130.0  0.049474   0.0   0.0  0.0
898  66.0  0.0  1.000000  1.000000  4.0     155.0  0.559903   0.0   0.0  0.0

     diuretic  thaldur  thalach  exang  oldpeak     slope  target
0         0.0     10.5    150.0    0.0      2.3  3.000000     0.0
1         0.0      9.5    108.0    1.0      1.5  2.000000     1.0
2         0.0      8.5    129.0    1.0      2.6  2.000000     1.0
3         0.0     13.0    187.0    0.0      3.5  3.000000     0.0
4         0.0      7.0    172.0    0.0      1.4  1.000000     0.0
..        ...      ...      ...    ...      ...       ...     ...
894       0.0      7.5    150.0    0.0      1.5  2.000000     1.0
895       0.0      6.5    103.0    1.0      1.0  2.000000     1.0
896       0.0      6.0     98.0    0.0      0.0  2.000000     1.0
897       0.0      9.5    110.0    1.0      3.0  2.000000     1.0
898       0.0      6.5     90.0    0.0      0.0  1.921157     1.0

[899 rows x 17 columns]

/venv/lib/python3.12/site-packages/sklearn/impute/_iterative.py:801: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

In [10]:
imputed_df['smoke'] = data['smoke']
imputed_df

,age,sex,painloc,painexer,cp,trestbps,fbs,prop,nitr,pro,diuretic,thaldur,thalach,exang,oldpeak,slope,target,smoke
0,63.0,1.0,-0.017571,0.027683,1.0,145.0,1.000000,0.0,0.0,0.0,0.0,10.5,150.0,0.0,2.3,3.000000,0.0,NaN
1,67.0,1.0,0.991795,0.970059,4.0,160.0,0.000000,1.0,0.0,0.0,0.0,9.5,108.0,1.0,1.5,2.000000,1.0,NaN
2,67.0,1.0,1.012333,0.983045,4.0,120.0,0.000000,1.0,0.0,0.0,0.0,8.5,129.0,1.0,2.6,2.000000,1.0,NaN
3,37.0,1.0,0.767426,0.151340,3.0,130.0,0.000000,1.0,0.0,0.0,0.0,13.0,187.0,0.0,3.5,3.000000,0.0,NaN
4,41.0,0.0,0.512635,-0.021997,2.0,130.0,0.000000,0.0,0.0,0.0,0.0,7.0,172.0,0.0,1.4,1.000000,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,54.0,1.0,1.000000,1.000000,4.0,180.0,0.305790,0.0,0.0,0.0,0.0,7.5,150.0,0.0,1.5,2.000000,1.0,NaN
895,56.0,1.0,1.000000,1.000000,4.0,125.0,1.000000,0.0,0.0,0.0,0.0,6.5,103.0,1.0,1.0,2.000000,1.0,1.0
896,56.0,1.0,0.000000,1.000000,3.0,125.0,0.194504,0.0,0.0,0.0,0.0,6.0,98.0,0.0,0.0,2.000000,1.0,NaN
897,54.0,1.0,1.000000,1.000000,4.0,130.0,0.049474,0.0,0.0,0.0,0.0,9.5,110.0,1.0,3.0,2.000000,1.0,NaN
898,66.0,0.0,1.000000,1.000000,4.0,155.0,0.559903,0.0,0.0,0.0,0.0,6.5,90.0,0.0,0.0,1.921157,1.0,NaN

In [11]:
data = imputed_df

In [12]:
# Out of range again
data.loc[data['painloc'] < 0, 'painloc'] = 0
data.loc[data['painloc'] > 1, 'painloc'] = 1

data.loc[data['painexer'] < 0, 'painexer'] = 0
data.loc[data['painexer'] > 1, 'painexer'] = 1

data.loc[data['trestbps'] < 100, 'trestbps'] = 100

data.loc[data['oldpeak'] < 0, 'oldpeak'] = 0
data.loc[data['oldpeak'] > 4, 'oldpeak'] = 4

data.loc[data['fbs'] < 0, 'fbs'] = 0
data.loc[data['fbs'] > 1, 'fbs'] = 1

data.loc[data['prop'] < 0, 'prop'] = 0
data.loc[data['prop'] > 1, 'prop'] = 1

data.loc[data['nitr'] < 0, 'nitr'] = 0
data.loc[data['nitr'] > 1, 'nitr'] = 1

data.loc[data['pro'] < 0, 'pro'] = 0
data.loc[data['pro'] > 1, 'pro'] = 1

data.loc[data['diuretic'] < 0, 'diuretic'] = 0
data.loc[data['diuretic'] > 1, 'diuretic'] = 1

data.loc[data['exang'] < 0, 'exang'] = 0
data.loc[data['exang'] > 1, 'exang'] = 1

data.loc[data['slope'] < 1, 'slope'] = 1
data.loc[data['slope'] > 3, 'slope'] = 3

In [13]:
pd.options.mode.chained_assignment = None  # default='warn'

data['smoke_1'] = data['smoke']
data['smoke_2'] = data['smoke']

### Simple imputation

In [48]:
# # painloc, painexer: replace <0 with 0, >1 with 1, and NaN with the mode
# m_painloc = data['painloc'].mean()
# data.loc[data['painloc'].isna(), 'painloc'] = m_painloc

# m_painexer = data['painexer'].mean()
# data.loc[data['painexer'].isna(), 'painexer'] = m_painexer

0.9205834683954619
0.593192868719611

In [10]:
# # tresbps: Replace values less than 100 mm Hg in the 'trestbps' column with 100 and NaN to the mean
# mean_trestbps = data['trestbps'].mean()
# data.loc[data['trestbps'].isna(), 'trestbps'] = mean_trestbps

In [11]:
# # oldpeak: Replace values less than 0 with 0 and those greater than 4 with 4 and NaN to the mean
# mean_oldpeak = data['oldpeak'].mean()
# data.loc[data['oldpeak'].isna(), 'oldpeak'] = mean_oldpeak

In [12]:
# # thaldur, thalach: Replace the missing values with mean
# mean_thaldur = data['thaldur'].mean()
# data.loc[data['thaldur'].isna(), 'thaldur'] = mean_thaldur

# mean_thalach = data['thalach'].mean()
# data.loc[data['thalach'].isna(), 'thalach'] = mean_thalach

In [13]:
# # fbs, prop, nitr, pro, diuretic: replace <0 with 0, >1 with 1, and NaN with the mode
# m_fbs = data['fbs'].mean()
# data.loc[data['fbs'].isna(), 'fbs'] = m_fbs

# m_prop = data['prop'].mean()
# data.loc[data['prop'].isna(), 'prop'] = m_prop

# m_nitr = data['nitr'].mean()
# data.loc[data['nitr'].isna(), 'nitr'] = m_nitr

# m_pro = data['pro'].mean()
# data.loc[data['pro'].isna(), 'pro'] = m_pro

# m_diuretic = data['diuretic'].mean()
# data.loc[data['diuretic'].isna(), 'diuretic'] = m_diuretic

In [14]:
# # exang, slope: Replace the missing values
# m_exang = data['exang'].mean()
# data.loc[data['exang'].isna(), 'exang'] = m_exang

# mode_slope = data['slope'].mode()
# data.loc[data['slope'].isna(), 'slope'] = mode_slope[0]

### Smoke 1

In [14]:
url1 = 'https://www.abs.gov.au/statistics/health/health-conditions-and-risks/smoking-and-vaping/latest-release'
response = requests.get(url1)
response.status_code

200

In [15]:
# get the HTML file as a string
html_content = response.content
# create a selector object
full_sel = Selector(text=html_content)

In [16]:
# select all tables in page -> returns a SelectorList object
tables = full_sel.xpath('//table')
smokers_by_age = tables[1]
# get the rows
rows = smokers_by_age.xpath('./tbody//tr')

In [17]:
def parse_row_1(row:Selector) -> List[str]:
    '''
    Parses a html row into a list of individual elements
    '''
    cells = row.xpath('.//th | .//td')
    row_data = []
    
    for i, cell in enumerate(cells):
        if i == 0 or i == 10:
            cell_text = cell.xpath('normalize-space(.)').get()
            cell_text = re.sub(r'<.*?>', ' ', cell_text)  # Remove remaining HTML tags
            # if there are br tags, there will be some binary characters
            cell_text = cell_text.replace('\xa0', '')  # Remove \xa0 characters
            row_data.append(cell_text)
    
    return row_data

In [18]:
table_data = [parse_row_1(row) for row in rows]
table_data

[['15–17', '1.6'],
 ['18–24', '7.3'],
 ['25–34', '10.9'],
 ['35–44', '10.9'],
 ['45–54', '13.8'],
 ['55–64', '14.9'],
 ['65–74', '8.7'],
 ['75 years and over', '2.9']]

In [19]:
# smoke
def get_rate_1(age):
    try:
        age = int(age)
        for i, row in enumerate(table_data):
            if i < len(table_data) - 1:
                cutoff = row[0].split('–')[1]
                if age <= int(cutoff):
                    return float(row[1])
            else:
                return float(row[1])
    except:
        return np.nan


def get_smoke(rate):
    if np.random.rand() < rate/100:
        return 1
    return 0

def add_rates_1(data):
    for index, row in data.iterrows():
        # print(int(row['age']))
        data.loc[index, 'smoke_1'] = get_rate_1(row['age'])/100
    return data

data = add_rates_1(data[data['smoke_1'].isna()])

In [20]:
data

,age,sex,painloc,painexer,cp,trestbps,fbs,prop,nitr,pro,diuretic,thaldur,thalach,exang,oldpeak,slope,target,smoke,smoke_1,smoke_2
0,63.0,1.0,0.000000,0.027683,1.0,145.0,1.000000,0.0,0.0,0.0,0.0,10.5,150.0,0.0,2.3,3.000000,0.0,NaN,0.149,NaN
1,67.0,1.0,0.991795,0.970059,4.0,160.0,0.000000,1.0,0.0,0.0,0.0,9.5,108.0,1.0,1.5,2.000000,1.0,NaN,0.087,NaN
2,67.0,1.0,1.000000,0.983045,4.0,120.0,0.000000,1.0,0.0,0.0,0.0,8.5,129.0,1.0,2.6,2.000000,1.0,NaN,0.087,NaN
3,37.0,1.0,0.767426,0.151340,3.0,130.0,0.000000,1.0,0.0,0.0,0.0,13.0,187.0,0.0,3.5,3.000000,0.0,NaN,0.109,NaN
4,41.0,0.0,0.512635,0.000000,2.0,130.0,0.000000,0.0,0.0,0.0,0.0,7.0,172.0,0.0,1.4,1.000000,0.0,NaN,0.109,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,62.0,1.0,1.000000,1.000000,4.0,150.0,0.167033,0.0,0.0,0.0,0.0,7.8,78.0,0.0,2.0,2.000000,1.0,NaN,0.149,NaN
894,54.0,1.0,1.000000,1.000000,4.0,180.0,0.305790,0.0,0.0,0.0,0.0,7.5,150.0,0.0,1.5,2.000000,1.0,NaN,0.138,NaN
896,56.0,1.0,0.000000,1.000000,3.0,125.0,0.194504,0.0,0.0,0.0,0.0,6.0,98.0,0.0,0.0,2.000000,1.0,NaN,0.149,NaN
897,54.0,1.0,1.000000,1.000000,4.0,130.0,0.049474,0.0,0.0,0.0,0.0,9.5,110.0,1.0,3.0,2.000000,1.0,NaN,0.138,NaN
898,66.0,0.0,1.000000,1.000000,4.0,155.0,0.559903,0.0,0.0,0.0,0.0,6.5,90.0,0.0,0.0,1.921157,1.0,NaN,0.087,NaN

### Smoke 2

In [21]:
url2 = 'https://www.cdc.gov/tobacco/data_statistics/fact_sheets/adult_data/cig_smoking/index.htm'
response = requests.get(url2)
response.status_code

200

In [22]:
# Create a scrapy Selector from the response content
selector = Selector(text=response.content)

In [23]:
ul_sel_list = selector.xpath('//ul[@class="block-list"]')
genders = ul_sel_list[0]
ages = ul_sel_list[1]

In [24]:
def clean_gender_percents(rows):
    dict = {}
    for row in rows:
        gender = 'woman' if 'women' in row.split('(')[0] else 'man'
        percent = float(row.split('(')[1].split('%')[0])
        dict[gender] = float(percent)
    return dict

In [25]:
def clean_age_percents(rows):
    for i, row in enumerate(rows):
        if i < len(rows) - 1:
            age = int(row.split('–')[1].split(' ')[0])
        else:
            age = int(row.split(' ')[7])
            
        percent = float(row.split('(')[1].split('%')[0])
        rows[i] = [age, percent]
    return rows

In [26]:
def parse_row_2(row:Selector) -> List[str]:
    '''
    Parses a html row into a list of individual elements
    '''
    cells = row.xpath('./li')
    row_data = []
    
    for i, cell in enumerate(cells):
        cell_text = cell.xpath('normalize-space(.)').get()
        cell_text = re.sub(r'<.*?>', ' ', cell_text)  # Remove remaining HTML tags
        # if there are br tags, there will be some binary characters
        cell_text = cell_text.replace('\xa0', '')  # Remove \xa0 characters
        row_data.append(cell_text)
    
    return row_data

In [27]:
per_by_gender = clean_gender_percents(parse_row_2(genders))
per_by_gender

{'man': 13.1, 'woman': 10.1}

In [28]:
per_by_age = clean_age_percents(parse_row_2(ages))
per_by_age

[[24, 5.3], [44, 12.6], [64, 14.9], [65, 8.3]]

In [29]:
# smoke
def get_rate_2(sex, age):
    if sex == 0:
        try:
            age = int(age)
            for i, row in enumerate(per_by_age):
                if i < len(per_by_age) - 1:
                    if age <= row[0]:
                        return row[1]
                else:
                    return row[1]
        except:
            return np.nan
    else:
        try:
            age = int(age)
            for i, row in enumerate(per_by_age):
                if i < len(per_by_age) - 1:
                    if age <= row[0]:
                        return row[1] * per_by_gender['man'] / per_by_gender['woman']
                else:
                    return row[1] * per_by_gender['man'] / per_by_gender['woman']
        except:
            return np.nan
        

def add_rates_2(data):
    for index, row in data.iterrows():
        # print(int(row['age']))
        data.loc[index, 'smoke_2'] = get_rate_2(row['sex'], row['age'])/100
    return data

data = add_rates_2(data[data['smoke_2'].isna()])

In [30]:
data

,age,sex,painloc,painexer,cp,trestbps,fbs,prop,nitr,pro,diuretic,thaldur,thalach,exang,oldpeak,slope,target,smoke,smoke_1,smoke_2
0,63.0,1.0,0.000000,0.027683,1.0,145.0,1.000000,0.0,0.0,0.0,0.0,10.5,150.0,0.0,2.3,3.000000,0.0,NaN,0.149,0.193257
1,67.0,1.0,0.991795,0.970059,4.0,160.0,0.000000,1.0,0.0,0.0,0.0,9.5,108.0,1.0,1.5,2.000000,1.0,NaN,0.087,0.107653
2,67.0,1.0,1.000000,0.983045,4.0,120.0,0.000000,1.0,0.0,0.0,0.0,8.5,129.0,1.0,2.6,2.000000,1.0,NaN,0.087,0.107653
3,37.0,1.0,0.767426,0.151340,3.0,130.0,0.000000,1.0,0.0,0.0,0.0,13.0,187.0,0.0,3.5,3.000000,0.0,NaN,0.109,0.163426
4,41.0,0.0,0.512635,0.000000,2.0,130.0,0.000000,0.0,0.0,0.0,0.0,7.0,172.0,0.0,1.4,1.000000,0.0,NaN,0.109,0.126000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,62.0,1.0,1.000000,1.000000,4.0,150.0,0.167033,0.0,0.0,0.0,0.0,7.8,78.0,0.0,2.0,2.000000,1.0,NaN,0.149,0.193257
894,54.0,1.0,1.000000,1.000000,4.0,180.0,0.305790,0.0,0.0,0.0,0.0,7.5,150.0,0.0,1.5,2.000000,1.0,NaN,0.138,0.193257
896,56.0,1.0,0.000000,1.000000,3.0,125.0,0.194504,0.0,0.0,0.0,0.0,6.0,98.0,0.0,0.0,2.000000,1.0,NaN,0.149,0.193257
897,54.0,1.0,1.000000,1.000000,4.0,130.0,0.049474,0.0,0.0,0.0,0.0,9.5,110.0,1.0,3.0,2.000000,1.0,NaN,0.138,0.193257
898,66.0,0.0,1.000000,1.000000,4.0,155.0,0.559903,0.0,0.0,0.0,0.0,6.5,90.0,0.0,0.0,1.921157,1.0,NaN,0.087,0.083000

In [31]:
data.drop('smoke', axis=1, inplace=True)

In [32]:
data

,age,sex,painloc,painexer,cp,trestbps,fbs,prop,nitr,pro,diuretic,thaldur,thalach,exang,oldpeak,slope,target,smoke_1,smoke_2
0,63.0,1.0,0.000000,0.027683,1.0,145.0,1.000000,0.0,0.0,0.0,0.0,10.5,150.0,0.0,2.3,3.000000,0.0,0.149,0.193257
1,67.0,1.0,0.991795,0.970059,4.0,160.0,0.000000,1.0,0.0,0.0,0.0,9.5,108.0,1.0,1.5,2.000000,1.0,0.087,0.107653
2,67.0,1.0,1.000000,0.983045,4.0,120.0,0.000000,1.0,0.0,0.0,0.0,8.5,129.0,1.0,2.6,2.000000,1.0,0.087,0.107653
3,37.0,1.0,0.767426,0.151340,3.0,130.0,0.000000,1.0,0.0,0.0,0.0,13.0,187.0,0.0,3.5,3.000000,0.0,0.109,0.163426
4,41.0,0.0,0.512635,0.000000,2.0,130.0,0.000000,0.0,0.0,0.0,0.0,7.0,172.0,0.0,1.4,1.000000,0.0,0.109,0.126000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,62.0,1.0,1.000000,1.000000,4.0,150.0,0.167033,0.0,0.0,0.0,0.0,7.8,78.0,0.0,2.0,2.000000,1.0,0.149,0.193257
894,54.0,1.0,1.000000,1.000000,4.0,180.0,0.305790,0.0,0.0,0.0,0.0,7.5,150.0,0.0,1.5,2.000000,1.0,0.138,0.193257
896,56.0,1.0,0.000000,1.000000,3.0,125.0,0.194504,0.0,0.0,0.0,0.0,6.0,98.0,0.0,0.0,2.000000,1.0,0.149,0.193257
897,54.0,1.0,1.000000,1.000000,4.0,130.0,0.049474,0.0,0.0,0.0,0.0,9.5,110.0,1.0,3.0,2.000000,1.0,0.138,0.193257
898,66.0,0.0,1.000000,1.000000,4.0,155.0,0.559903,0.0,0.0,0.0,0.0,6.5,90.0,0.0,0.0,1.921157,1.0,0.087,0.083000

## Prediction Model

In [33]:
data

,age,sex,painloc,painexer,cp,trestbps,fbs,prop,nitr,pro,diuretic,thaldur,thalach,exang,oldpeak,slope,target,smoke_1,smoke_2
0,63.0,1.0,0.000000,0.027683,1.0,145.0,1.000000,0.0,0.0,0.0,0.0,10.5,150.0,0.0,2.3,3.000000,0.0,0.149,0.193257
1,67.0,1.0,0.991795,0.970059,4.0,160.0,0.000000,1.0,0.0,0.0,0.0,9.5,108.0,1.0,1.5,2.000000,1.0,0.087,0.107653
2,67.0,1.0,1.000000,0.983045,4.0,120.0,0.000000,1.0,0.0,0.0,0.0,8.5,129.0,1.0,2.6,2.000000,1.0,0.087,0.107653
3,37.0,1.0,0.767426,0.151340,3.0,130.0,0.000000,1.0,0.0,0.0,0.0,13.0,187.0,0.0,3.5,3.000000,0.0,0.109,0.163426
4,41.0,0.0,0.512635,0.000000,2.0,130.0,0.000000,0.0,0.0,0.0,0.0,7.0,172.0,0.0,1.4,1.000000,0.0,0.109,0.126000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,62.0,1.0,1.000000,1.000000,4.0,150.0,0.167033,0.0,0.0,0.0,0.0,7.8,78.0,0.0,2.0,2.000000,1.0,0.149,0.193257
894,54.0,1.0,1.000000,1.000000,4.0,180.0,0.305790,0.0,0.0,0.0,0.0,7.5,150.0,0.0,1.5,2.000000,1.0,0.138,0.193257
896,56.0,1.0,0.000000,1.000000,3.0,125.0,0.194504,0.0,0.0,0.0,0.0,6.0,98.0,0.0,0.0,2.000000,1.0,0.149,0.193257
897,54.0,1.0,1.000000,1.000000,4.0,130.0,0.049474,0.0,0.0,0.0,0.0,9.5,110.0,1.0,3.0,2.000000,1.0,0.138,0.193257
898,66.0,0.0,1.000000,1.000000,4.0,155.0,0.559903,0.0,0.0,0.0,0.0,6.5,90.0,0.0,0.0,1.921157,1.0,0.087,0.083000

In [34]:
X = data.drop('target', axis=1)
y = data['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, stratify=y, random_state=42)

In [42]:
warnings.filterwarnings("ignore", category=ConvergenceWarning)

param_grids = {
    'LogisticRegression': {
            'penalty': ['l1', 'l2'],
            'C': [0.0001, 0.001, 0.01, 0.1, 1, 10, 100],
            'solver': ['liblinear', 'saga'],
            'max_iter': [1000, 5000, 10000, 20000]
    },
    'RandomForestClassifier': {
        'n_estimators': [200, 400, 600],
        'max_depth': [None, 10, 20, 30],
        'min_samples_split': [2, 3, 4],
        'min_samples_leaf': [1, 2, 4],
        'max_features': ['sqrt', 'log2']
    },
    'AdaBoostClassifier': {
        'n_estimators': [100, 200, 300],
        'learning_rate': [0.01, 0.1, 0.5, 1.0]
    },
    'KNeighborsClassifier': {
        'n_neighbors': [5, 10, 15],
        'weights': ['uniform', 'distance']
    },
    'MLPClassifier': {
        'hidden_layer_sizes': [(100,), (50, 50), (100, 50, 100)],
        'activation': ['relu', 'tanh'],
        'alpha': [0.00001, 0.0001, 0.001]
    },
    'DecisionTreeClassifier': {
        'max_depth': [None, 30, 50],
        'min_samples_split': [2, 5, 10],
        'min_samples_leaf': [1, 2, 4],
        'max_features': ['sqrt', 'log2']
    },
    'GaussianNB': {}
}

models = {
    'LogisticRegression': LogisticRegression(),
    'RandomForestClassifier': RandomForestClassifier(),
    'AdaBoostClassifier': AdaBoostClassifier(algorithm='SAMME'),
    'KNeighborsClassifier': KNeighborsClassifier(),
    'MLPClassifier': MLPClassifier(),
    'DecisionTreeClassifier': DecisionTreeClassifier(),
    'GaussianNB': GaussianNB()
}

scoring = {
    'accuracy': make_scorer(accuracy_score),
    'precision': make_scorer(precision_score, zero_division=1),  # Specify zero_division here
    'recall': make_scorer(recall_score),
    'f1': make_scorer(f1_score),
    'roc_auc': make_scorer(roc_auc_score)
}

# Perform grid search for each model
for name, model in models.items():
    if name in param_grids:
        param_grid = param_grids[name]
    
        grid_search = GridSearchCV(estimator=model, 
                                   param_grid=param_grid, 
                                   cv=5, 
                                   scoring=scoring,
                                   refit='accuracy')
        grid_search.fit(X_train, y_train)

        # Get best parameters and best score
        best_params = grid_search.best_params_
        best_score = grid_search.best_score_
    

        print(f"Best parameters for {name}: {best_params}")
        print(f"Best score for {name}: {best_score}")
        print("-----------------------------------------------------------------------------------\n")

Best parameters for LogisticRegression: {'C': 10, 'max_iter': 1000, 'penalty': 'l2', 'solver': 'liblinear'}
Best score for LogisticRegression: 0.8155509641873279
-----------------------------------------------------------------------------------

Best parameters for RandomForestClassifier: {'max_depth': 20, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 400}
Best score for RandomForestClassifier: 0.8271625344352618
-----------------------------------------------------------------------------------

Best parameters for AdaBoostClassifier: {'learning_rate': 0.5, 'n_estimators': 100}
Best score for AdaBoostClassifier: 0.8088980716253443
-----------------------------------------------------------------------------------

Best parameters for KNeighborsClassifier: {'n_neighbors': 10, 'weights': 'distance'}
Best score for KNeighborsClassifier: 0.6677823691460055
-----------------------------------------------------------------------------------

Best parameters for MLPClassifier: {'activation': 'relu', 'alpha': 1e-05, 'hidden_layer_sizes': (100,)}
Best score for MLPClassifier: 0.8088705234159779
-----------------------------------------------------------------------------------

Best parameters for DecisionTreeClassifier: {'max_depth': 50, 'max_features': 'log2', 'min_samples_leaf': 4, 'min_samples_split': 10}
Best score for DecisionTreeClassifier: 0.7705922865013773
-----------------------------------------------------------------------------------

Best parameters for GaussianNB: {}
Best score for GaussianNB: 0.8054683195592286
-----------------------------------------------------------------------------------

In [43]:
param_grids['RandomForestClassifier'] = {
        'n_estimators': [200, 400],
        'max_depth': [10, 20],
        'min_samples_split': [2, 3, 4],
        'min_samples_leaf': [1, 2, 4],
        'max_features': ['sqrt', 'log2']}

# Perform grid search for each model
for name, model in models.items():
    if name in param_grids:
        param_grid = param_grids[name]
        
        scaler =  MinMaxScaler()
        X_train_scaled = scaler.fit_transform(X_train)
        X_test_scaled = scaler.transform(X_test)
    
        grid_search = GridSearchCV(estimator=model, 
                                   param_grid=param_grid, 
                                   cv=5, 
                                   scoring=scoring,
                                   refit='accuracy')
        grid_search.fit(X_train_scaled, y_train)

        # Get best parameters and best score
        best_params = grid_search.best_params_
        best_score = grid_search.best_score_
    

        print(f"Best parameters for {name} with MinMaxScaler: {best_params}")
        print(f"Best score for {name} with MinMaxScaler: {best_score}")
        print("-----------------------------------------------------------------------------------\n")

Best parameters for LogisticRegression with MinMaxScaler: {'C': 100, 'max_iter': 1000, 'penalty': 'l1', 'solver': 'liblinear'}
Best score for LogisticRegression with MinMaxScaler: 0.8155371900826447
-----------------------------------------------------------------------------------

Best parameters for RandomForestClassifier with MinMaxScaler: {'max_depth': 10, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 4, 'n_estimators': 200}
Best score for RandomForestClassifier with MinMaxScaler: 0.8238429752066116
-----------------------------------------------------------------------------------

Best parameters for AdaBoostClassifier with MinMaxScaler: {'learning_rate': 0.5, 'n_estimators': 100}
Best score for AdaBoostClassifier with MinMaxScaler: 0.8088980716253443
-----------------------------------------------------------------------------------

Best parameters for KNeighborsClassifier with MinMaxScaler: {'n_neighbors': 5, 'weights': 'uniform'}
Best score for KNeighborsClassifier with MinMaxScaler: 0.7939393939393938
-----------------------------------------------------------------------------------

Best parameters for MLPClassifier with MinMaxScaler: {'activation': 'tanh', 'alpha': 0.001, 'hidden_layer_sizes': (100,)}
Best score for MLPClassifier with MinMaxScaler: 0.8171900826446281
-----------------------------------------------------------------------------------

Best parameters for DecisionTreeClassifier with MinMaxScaler: {'max_depth': None, 'max_features': 'log2', 'min_samples_leaf': 4, 'min_samples_split': 5}
Best score for DecisionTreeClassifier with MinMaxScaler: 0.78232782369146
-----------------------------------------------------------------------------------

Best parameters for GaussianNB with MinMaxScaler: {}
Best score for GaussianNB with MinMaxScaler: 0.8054683195592286
-----------------------------------------------------------------------------------

In [44]:
param_grids['RandomForestClassifier'] = {
        'n_estimators': [200, 400, 600],
        'max_depth': [10],
        'min_samples_split': [3, 4],
        'min_samples_leaf': [2, 4],
        'max_features': ['sqrt', 'log2']}

# Perform grid search for each model
for name, model in models.items():
    if name in param_grids:
        param_grid = param_grids[name]
        
        scaler =  StandardScaler()
        X_train_scaled = scaler.fit_transform(X_train)
        X_test_scaled = scaler.transform(X_test)
    
        grid_search = GridSearchCV(estimator=model, 
                                   param_grid=param_grid, 
                                   cv=5, 
                                   scoring=scoring,
                                   refit='accuracy')
        grid_search.fit(X_train_scaled, y_train)

        # Get best parameters and best score
        best_params = grid_search.best_params_
        best_score = grid_search.best_score_
    

        print(f"Best parameters for {name} with StandardScaler: {best_params}")
        print(f"Best score for {name} with StandardScaler: {best_score}")
        print("-----------------------------------------------------------------------------------\n")

Best parameters for LogisticRegression with StandardScaler: {'C': 1, 'max_iter': 1000, 'penalty': 'l1', 'solver': 'saga'}
Best score for LogisticRegression with StandardScaler: 0.8155371900826447
-----------------------------------------------------------------------------------

Best parameters for RandomForestClassifier with StandardScaler: {'max_depth': 10, 'max_features': 'log2', 'min_samples_leaf': 2, 'min_samples_split': 3, 'n_estimators': 600}
Best score for RandomForestClassifier with StandardScaler: 0.8205234159779614
-----------------------------------------------------------------------------------

Best parameters for AdaBoostClassifier with StandardScaler: {'learning_rate': 0.5, 'n_estimators': 100}
Best score for AdaBoostClassifier with StandardScaler: 0.8088980716253443
-----------------------------------------------------------------------------------

Best parameters for KNeighborsClassifier with StandardScaler: {'n_neighbors': 5, 'weights': 'uniform'}
Best score for KNeighborsClassifier with StandardScaler: 0.8005785123966943
-----------------------------------------------------------------------------------

Best parameters for MLPClassifier with StandardScaler: {'activation': 'tanh', 'alpha': 1e-05, 'hidden_layer_sizes': (100,)}
Best score for MLPClassifier with StandardScaler: 0.8072314049586776
-----------------------------------------------------------------------------------

Best parameters for DecisionTreeClassifier with StandardScaler: {'max_depth': None, 'max_features': 'log2', 'min_samples_leaf': 4, 'min_samples_split': 10}
Best score for DecisionTreeClassifier with StandardScaler: 0.7723553719008264
-----------------------------------------------------------------------------------

Best parameters for GaussianNB with StandardScaler: {}
Best score for GaussianNB with StandardScaler: 0.8054683195592286
-----------------------------------------------------------------------------------

From my analysis, the RandomForestClassifier() model is best with the following hyperparameters:

'max_depth': 20

'max_features': 'sqrt'

'min_samples_leaf': 1

'min_samples_split': 2

'n_estimators': 400

In [47]:
# Define RandomForestClassifier model
model = RandomForestClassifier()

# Define parameters for RandomForestClassifier
param_grid = {
    'max_depth': [20],
    'max_features': ['sqrt'],
    'min_samples_leaf': [1],
    'min_samples_split': [2],
    'n_estimators': [400]
}

# Initialize GridSearchCV with model, parameters, and cross-validation settings
grid_search = GridSearchCV(estimator=model, 
                           param_grid=param_grid, 
                           cv=5, 
                           scoring=['accuracy', 'precision', 'recall', 'f1', 'roc_auc'],
                           refit='accuracy')

# Fit the model with fit_params
grid_search.fit(X_train, y_train)

# Get the best parameters and best score
best_params = grid_search.best_params_
best_score = grid_search.best_score_

print("Best Parameters:", best_params)
print("Best Score:", best_score)

# Step 4: Assess performance using cross-validation
cv_results = cross_validate(grid_search.best_estimator_, X_train, y_train, cv=5, scoring=['accuracy', 'precision', 'recall', 'f1', 'roc_auc'])

print("Cross-validation results:")
print("Accuracy:", cv_results['test_accuracy'].mean())
print("Precision:", cv_results['test_precision'].mean())
print("Recall:", cv_results['test_recall'].mean())
print("F1-score:", cv_results['test_f1'].mean())
print("ROC AUC:", cv_results['test_roc_auc'].mean())

Best Parameters: {'max_depth': 20, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 400}
Best Score: 0.8171900826446281
Cross-validation results:
Accuracy: 0.8172038567493113
Precision: 0.8158020050125314
Recall: 0.8046171829339569
F1-score: 0.8099432819083322
ROC AUC: 0.8879527158236081

In general, RandomForestClassifier performed the best